In [1]:
#Measure of central Tendency

In [2]:
#Mean(Average)
age=[12,21,23,45,65,43,65,7,8,99,99,90]

In [3]:
import numpy as np
np.mean(age)

48.083333333333336

In [4]:
weights=[54,60,70,87,40.55,67]

In [5]:
np.mean(weights)

63.09166666666667

In [6]:
import seaborn as sns
df=sns.load_dataset('tips')

In [8]:
df.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [11]:
np.mean(df['total_bill'])

19.78594262295082

In [13]:
np.mean(df['size'])

2.569672131147541

In [14]:
# Median

In [15]:
np.median(age)

44.0

In [22]:
age=[1,2,3,4,5,100]

In [23]:
np.median(age)

3.5

In [24]:
from scipy import stats

In [25]:
stats.mode(age)

/tmp/ipykernel_445/2474845003.py:1: FutureWarning: Unlike other reduction functions (e.g. `skew`, `kurtosis`), the default behavior of `mode` typically preserves the axis it acts along. In SciPy 1.11.0, this behavior will change: the default value of `keepdims` will become False, the `axis` over which the statistic is taken will be eliminated, and the value None will no longer be accepted. Set `keepdims` to True or False to avoid this warning.
  stats.mode(age)

ModeResult(mode=array([1]), count=array([1]))

In [26]:
np.median(df['total_bill'])

17.795