In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv")

In [4]:
df.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [7]:
s=df['Name']

In [8]:
s

0                                Braund, Mr. Owen Harris
1      Cumings, Mrs. John Bradley (Florence Briggs Th...
2                                 Heikkinen, Miss. Laina
3           Futrelle, Mrs. Jacques Heath (Lily May Peel)
4                               Allen, Mr. William Henry
                             ...
886                                Montvila, Rev. Juozas
887                         Graham, Miss. Margaret Edith
888             Johnston, Miss. Catherine Helen "Carrie"
889                                Behr, Mr. Karl Howell
890                                  Dooley, Mr. Patrick
Name: Name, Length: 891, dtype: object

In [9]:
len(s)

891

In [10]:
s=df['Name'][0:10]

In [11]:
s

0                              Braund, Mr. Owen Harris
1    Cumings, Mrs. John Bradley (Florence Briggs Th...
2                               Heikkinen, Miss. Laina
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)
4                             Allen, Mr. William Henry
5                                     Moran, Mr. James
6                              McCarthy, Mr. Timothy J
7                       Palsson, Master. Gosta Leonard
8    Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)
9                  Nasser, Mrs. Nicholas (Adele Achem)
Name: Name, dtype: object

In [22]:
l=['Mahesh','b','c','d','e','f','g','h','i','j']

In [23]:
pd.Series(s,index=l)

Mahesh    NaN
b         NaN
c         NaN
d         NaN
e         NaN
f         NaN
g         NaN
h         NaN
i         NaN
j         NaN
Name: Name, dtype: object

In [24]:
s

0                              Braund, Mr. Owen Harris
1    Cumings, Mrs. John Bradley (Florence Briggs Th...
2                               Heikkinen, Miss. Laina
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)
4                             Allen, Mr. William Henry
5                                     Moran, Mr. James
6                              McCarthy, Mr. Timothy J
7                       Palsson, Master. Gosta Leonard
8    Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)
9                  Nasser, Mrs. Nicholas (Adele Achem)
Name: Name, dtype: object

In [25]:
s1=pd.Series(list(s),index=l)

In [26]:
s1

Mahesh                              Braund, Mr. Owen Harris
b         Cumings, Mrs. John Bradley (Florence Briggs Th...
c                                    Heikkinen, Miss. Laina
d              Futrelle, Mrs. Jacques Heath (Lily May Peel)
e                                  Allen, Mr. William Henry
f                                          Moran, Mr. James
g                                   McCarthy, Mr. Timothy J
h                            Palsson, Master. Gosta Leonard
i         Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)
j                       Nasser, Mrs. Nicholas (Adele Achem)
dtype: object

In [27]:
s[0]

'Braund, Mr. Owen Harris'

In [28]:
s1[0]

'Braund, Mr. Owen Harris'

In [30]:
s1["Mahesh"]

'Braund, Mr. Owen Harris'

In [32]:
s2=s1.append(s)

/tmp/ipykernel_98/2552242485.py:1: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  s2=s1.append(s)

In [33]:
s2

Mahesh                              Braund, Mr. Owen Harris
b         Cumings, Mrs. John Bradley (Florence Briggs Th...
c                                    Heikkinen, Miss. Laina
d              Futrelle, Mrs. Jacques Heath (Lily May Peel)
e                                  Allen, Mr. William Henry
f                                          Moran, Mr. James
g                                   McCarthy, Mr. Timothy J
h                            Palsson, Master. Gosta Leonard
i         Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)
j                       Nasser, Mrs. Nicholas (Adele Achem)
0                                   Braund, Mr. Owen Harris
1         Cumings, Mrs. John Bradley (Florence Briggs Th...
2                                    Heikkinen, Miss. Laina
3              Futrelle, Mrs. Jacques Heath (Lily May Peel)
4                                  Allen, Mr. William Henry
5                                          Moran, Mr. James
6                                   McCarthy, Mr. Timothy J
7                            Palsson, Master. Gosta Leonard
8         Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)
9                       Nasser, Mrs. Nicholas (Adele Achem)
dtype: object

In [37]:
s2[4]

'Allen, Mr. William Henry'

In [42]:
s4=pd.Series([4,8,3,9,6] , index=[8,9,5,0,9])

In [44]:
s5=pd.Series([47,8,93,95,6] , index=[8,9,5,0,9])

In [51]:
s6=s4.append(s5)

/tmp/ipykernel_98/884104408.py:1: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  s6=s4.append(s5)

In [52]:
s6

8    47
9     8
5    93
0    95
9     6
8    47
9     8
5    93
0    95
9     6
dtype: int64

In [55]:
s6[0:5]

/tmp/ipykernel_98/2671872114.py:1: FutureWarning: The behavior of `series[i:j]` with an integer-dtype index is deprecated. In a future version, this will be treated as *label-based* indexing, consistent with e.g. `series[i]` lookups. To retain the old behavior, use `series.iloc[i:j]`. To get the future behavior, use `series.loc[i:j]`.
  s6[0:5]

8    47
9     8
5    93
0    95
9     6
dtype: int64

In [56]:
s4

8    47
9     8
5    93
0    95
9     6
dtype: int64

In [57]:
s5

8    47
9     8
5    93
0    95
9     6
dtype: int64

In [58]:
s4*s5

8    2209
9      64
5    8649
0    9025
9      36
dtype: int64

In [59]:
s4+s5

8     94
9     16
5    186
0    190
9     12
dtype: int64